{% extends "base.html" %}
{% block content %}
<div class="backButton" onclick="history.go(-1)" /><i class="icon-arrow-left"></i>Back</div>
		<ul>
			<li>
				<p>Provincia: {{ ciutat.provincia }}</p>		
				<p>Nom: {{ ciutat.nom }}</p>
				<p>C.P.: {{ ciutat.cp }}</p>
			</li>
		</ul>

    <p>esta segur de borrar la ciutat i tots els seus locals?</p>

    <form action=""
            method="post" accept-charset="utf-8">
            {% csrf_token %}
        <p><input type="submit" value="Eliminar &rarr;"></p>
    </form>
{% endblock %}
