{% extends "base.html" %}
{% block content %}
	<div class="pagetitle">
		<h1>{{festa.titol}}</h1>
		<p>{{ contentbody }}</p>
	</div>

	{% if festa %}
		<ul>
			<li>
			<p>{{ festa.descripcio}}</p> 
			<p>{{ festa.local.nom}}</p>
			<p>Data: {{ festa.data }}</p>
			<img src="../../media/{{ festa.imatge }}">
			</li>
		</ul>
		{% if prevLocal %}
			<p><!--a href="/festesLocal/{{ festa.local.id }}">TORNA A LA LLISTA</a-->
				<a href="../{{ festa.local.id }}">TORNA A LA LLISTA</a>
			</p>
		{% else %}
			<p><a href="/festes">TORNA A LA LLISTA</a></p>
		{% endif %}
	{% else %}
	<p>No Party</p>
	{% endif %}

	
{% endblock %}
