{% extends "base.html" %}
{%load staticfiles%}
{% block content %}
<script type="text/javascript">
	$(function() {
		$.getJSON("{% static "provincies.json" %}", function(provincies){
			$("#id_provincia").autocomplete({source: provincies});
		});

	});


</script>
<div class="backButton" onclick="history.go(-1)" /><i class="icon-arrow-left"></i>Back</div>
	<div class="pagetitle">
		<p>Afegir Ciutat</p>
	</div>
		<form method="post" action="">
		 {% csrf_token %}
		 <table>
		 	{{ form.as_table}}
		 </table>
		 <input type="submit" value="Submit">
		</form>
{% endblock %}