{% extends "base.html" %}
{%load staticfiles%}
{% block content %}
<script type="text/javascript">
	$(function() {
		$( "#id_data" ).datepicker();
		$.getJSON("{% static "provincies.json" %}", function(provincies){
			$("#id_provincia").autocomplete({source: provincies});
		});
		getProvince = function(){
			value = $("#id_provincia").val();
			if(value == "Lleida"){return "25"}
			if(value == "Barcelona"){return "08"}
			if(value == "Girona"){return "17"}
			if(value == "Tarragona"){return "43"}
			if(value == ""){return ""}
		};

		$("#id_nom").autocomplete({
                source: function( request, response ) {
                    $.ajax({
                        url: "http://ws.geonames.org/searchJSON",
                        dataType: "jsonp",
                        data: {
                            featureClass: "P",
                            maxRows: 10,
                            lang: "es",
                            continentCode: "EU",
                            country: "ES",
                            adminCode1: "56",
                            adminCode2_startsWith: getProvince(),
                            name_startsWith: request.term
                        },
                        success: function( data ) {
                            response( $.map( data.geonames, function( item ) {
                                return {
                                    label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                    value: item.name,
                                    postalCode: item.postalCode,
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function( event, ui ) {
                    if (ui.item) {
                        $("#id_cp").val(ui.item.postalCode);
                    }
                }
            });
	});


</script>
<div class="backButton" onclick="history.go(-1)" /><i class="icon-arrow-left"></i>Back</div>
	<div class="pagetitle">
		<p>Afegir</p>
	</div>
		<form method="post" action="" enctype="multipart/form-data">
		 {% csrf_token %}
		 <table>
		 	{{ form.as_table}}
		 </table>
		 <input type="submit" value="Submit">
		</form>


{% endblock %}
