{% extends "base.html" %}
{% block content %}
	<div class="pagetitle">
		<h1>{{ pagetitle }}</h1>
		<p>{{ contentbody }}</p>
	</div>
	{% if local %}
	<ul>
		<li>
		<p>Descripcio: {{ local.descripcio }}</p>		
		<p>Telefon: {{ local.telf }}</p>
		<p>Email: {{ local.email }}</p>
		<p>Ciutat: {{ local.ciutat }}</p>
		<p>Carrer: {{ local.carrer }}</p> <!-- aixo es clau forana -->
		<p><a href="/festesLocal/{{local.id}}">Veure festes</a></p>
			</ul>  
		<!-- si volem fikar imatge... <img src="../../media/{{ local.imatge }}">-->
		</li>

		

	</ul>
	<form><input type="button" value=" Tornar Enrrera " onclick="history.go(-1)" /></form>
	{% else %}
	<p>No Party</p>
	{% endif %}
{% endblock %}
