{% extends "base.html" %}
{% block content %}
<div class="backButton" onclick="history.go(-1)" /><i class="icon-arrow-left"></i>Back</div>
	<div class="pagetitle">
		<h1>{{ pagetitle }}</h1>
		<p>{{ contentbody }}</p>
	</div>
		
	{% if local %}

		{% if user.username and local.user == user  %}
			<a href="/locals/{{local.id}}/edit">modificar local</a>
			<a href="/locals/{{local.id}}/delete">Eliminar local</a>
		{% endif %}
	<ul>
		<li>
		<p>Descripcio: {{ local.descripcio }}</p>		
		<p>Telefon: {{ local.telf }}</p>
		<p>Email: {{ local.email }}</p>
		<p>Ciutat: {{ local.ciutat }}</p>
		<p>Carrer: {{ local.carrer }}</p> <!-- aixo es clau forana -->
		<p><a class="linkFesta" href="/festesLocal/{{local.id}}"> <i class="icon-thumbs-up"></i> Veure festes</a></p>
		<!-- si volem fikar imatge... <img src="../../media/{{ local.imatge }}">-->
		</li>
	</ul>

	<h1><br>Reviews</br></h1>
	<ul>
		{% for review in local.localreview_set.all %}
		    <li>
		        <p>{{ review.rating }} star{{ review.rating|pluralize }}</p>
		        <p>{{ review.comment }}</p>
		        <p>Created by {{ review.user }} on {{ review.date }}</p>
		    </li>
		{% endfor %}
	</ul>

	<h3>Add Review</h3>
	<form action="../../locals/{{local.id}}/reviews/create/" method="post">
		{% csrf_token %}
		Message: <textarea name="comment" id="comment" rows="4"></textarea>
		<p>Rating:</p>
		<p>
		{% for rate in RATING_CHOICES %}
		    <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />
		    <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label><br />
		{% endfor %}
		</p>
		<input type="submit" value="Review" />
	</form>



	{% else %}
	<p>No Party</p>
	{% endif %}
{% endblock %}
